@model IEnumerable<Prayaas_Website.Models.Donor>

@{
    ViewData["Title"] = "DonorList";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container">
        <a href="../Home/Index" class="w3-btn w3-red">Logout</a>
    </div>

<h2>DonorList</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.BloodGroups)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LastDonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adhaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.City)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BloodGroups.BloodGroup)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastDonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adhaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.City.City)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.User.EmailAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Gender.Gender)
            </td>*@
            
        </tr>
}
    </tbody>
</table>
